.btn-menu {
  border: 0;
  vertical-align: middle;
  background: none;

  > .text { display: none; }

  > .lines {
    position: relative;
    display: inline-block;
    border: 0;
    outline: 0;
    margin: 10px 0;

    &:before { top: -8px; }

    &:after { top: 8px; }

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
    }

    &,
    &:before,
    &:after {
      width: 24px;
      height: 4px;
      background: #333;
      transition: all .3s;
    }
  }
}

.-active .btn-menu {

  > .lines {
    background: transparent;

    &:before {
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
