.header-box {
  background: image('md-43688.jpg');
  background-size: cover;
  background-position: 50% 0;
  color: #fff;
  padding-top: 144px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  position: relative;
  @include font-size(16px);
  @include media(small) {
    padding-top: 170px;
    padding-bottom: 0;
    margin-bottom: 90px;
    background: image('lg-43688.jpg');
    background-position: 0 70%;
    background-size: cover;

    .btn {
      margin-bottom: 66px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, .4);
  }

  > .container {
    position: relative;
    z-index: 2;
  }

  .title {
    margin-bottom: 20px;
    @include media(small) {
      margin-bottom: 13px;
    }

    &::after {
      content: '.';
      color: $blue;
    }
  }

  .resume {
    letter-spacing: 1px;
    margin-bottom: 30px;
    max-width: 500px;
    @include media(small) {
      margin-bottom: 50px;
    }
  }
}
