.header-box {
  background: image('43688.jpg');
  background-size: cover;
  color: #fff;
  padding-top: 144px;
  padding-bottom: 24px;
  position: relative;
  @include font-size(18px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, .2);
  }

  > .container {
    position: relative;
    z-index: 2;
  }

  .title {
    margin-bottom: 24px;

    &::after {
      content: '.';
      color: $blue;
    }
  }

  .resume {
    letter-spacing: 1px;
    margin-bottom: 30px;
  }

  // .button {
  //   display: inline-block;
  //   @include media(small) {
  //     font-size: 1rem;
  //   }
  // }

  // @include media(small) {
  //   background-position-y: 50%;
  //   padding-top: 120px;

  //   &.content-box {
  //     padding-left: 0;
  //     padding-right: 0;
  //   }
  // }
}
