.nav-bar,
.nav-bar .container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-bar {
  color: #fff;
  height: 63px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 24px;
  position: absolute;
  top: 0;
  transition: all .2s ease-in-out;
  width: 100%;
  z-index: 3;
  @include media(small) {
    height: auto;
    margin-top: 0;
    padding-top: 46px;

    &.-scroll {
      position: fixed;
      background-color: $blue;
      margin-top: 0;
      height: auto;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .btnmenu {
    margin-left: auto;
  }

  .logo {
    width: 60px;
  }

  .logo,
  .btnmenu {
    z-index: 4;
  }
}

.js-menu-active .nav-bar {
  position: fixed;
}
