.post-body {
  // flex: 1 0 100%;
  // order: 2;
  color: #9ea4b5;
  background-color: #fff;
  border-radius: 0 0 7px 7px;
  @include font-size(14px);
  @include media(small) {
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }

  > .thumbnail {
    height: 180px;
    border-radius: 7px 7px 0 0;
    @include media(small) {
      height: 220px;
    }
  }

  > .text {
    padding: 24px 20px;
  }

  .posttitle {
    margin-bottom: 10px;
  }

  &.-ref {
    order: 1;
  }
}
