.post-body {
  width: 100%;
  color: #9ea4b5;
  display: inline-block;
  background-color: #fff;
  border-radius: 0 0 7px 7px;
  @include font-size(14px);
  @include media(small) {
    width: 30%;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }

  > .thumbnail {
    height: 170px;
    border-radius: 7px 7px 0 0;
    @include media(small) {
      height: 220px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  > .text {
    padding: 24px 20px;
    min-height: 185px;
  }

  .posttitle {
    margin-bottom: 10px;
  }
}
