.title {
  @include font-size(48px);
}

.posttitle {
  color: #556072;
  font-weight: 400;
  @include font-size(18px);
}

.sectiontitle {
  color: #648ede;
  @include font-size(27px);
}

.title,
.sectiontitle {
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
}