body {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Poppins',sans-serif;
  color: #556072;
  background-color: #f8f8f8;
}

.js-menu-active body {
  overflow: hidden;
}
